<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.cordova.plugin.ad.admob.facebookads"
    version="1.0.0">
	
    <name>Cordova Admob-FacebookAds Mediation Plugin</name>
    <description>Cordova Admob-FacebookAds Mediation Plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,admob,monetisation,facebookads,mediation</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-admob</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-admob/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.facebook.ads.InterstitialAdActivity" 
			android:configChanges="keyboardHidden|orientation|screenSize" />
          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			  <uses-permission android:name="android.permission.INTERNET" />
			  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
          
        <source-file src="src/android/AudienceNetwork.jar" target-dir="libs" />
		<dependency id="android.support.v4@1.0.0" />
		<source-file src="src/android/FacebookAdapter.jar" target-dir="libs" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">
        <framework src="src/ios/FBAudienceNetwork.framework" custom="true"/>
        <framework src="AdSupport.framework"/>
        <framework src="StoreKit.framework"/>
        <framework src="CoreMotion.framework"/>
        <source-file src="src/ios/libAdapterFacebook.a" framework="true"/>		
	</platform>
<!--
	<dependency id="com.cranberrygame.cordova.plugin.ad.admob" url="https://github.com/cranberrygame/cordova-plugin-ad-admob" />
-->
</plugin>
